[Unit]
Description=Install Tetra default flatpaks on first boot
ConditionPathExists=!/var/lib/tetra-flatpaks-installed
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/flatpak remote-add --system --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
ExecStart=/usr/bin/flatpak install --system --noninteractive --assumeyes flathub org.onlyoffice.desktopeditors net.nokyan.Resources com.mattjakeman.ExtensionManager
ExecStartPost=/usr/bin/touch /var/lib/tetra-flatpaks-installed

[Install]
WantedBy=multi-user.target
