[Unit]
Description=Periodically check for a staged system update to notify about

[Timer]
# Relative to the user manager starting (i.e. shortly after login).
OnStartupSec=2min
OnUnitInactiveSec=30min
OnCalendar=*-*-* 08:00

[Install]
WantedBy=timers.target
